/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header{
	background: #2E3141;
	color:white;
	padding-top:10px;
	padding-bottom:10px;
	position:fixed;
	top: 0px;
	left: 0px;
	right: 0px;

}
.header nav{
	text-align: center;
	color:white;
	word-spacing: 20px;
	
}.header a{
	color:white;
	text-decoration: none;
	text-transform: uppercase;

}
.solid-state{
	text-align: center;
	box-sizing: border-box;
	font-size: 30px;
	padding-bottom:20px;
	padding-top:10px;
 }
 img {
	 height:250px;
	 width: 250px;
	 border-radius:75%;
	 box-sizing: content-box;
 }
 .section-1 h2{
 	text-transform: uppercase;

 }.div1{
 	padding: 130px;
 	background: #2D3140;
 	color:white;
 	text-transform: uppercase;

 }
 .div1 h2{
	 font-size:30px;


 }
 .div1 .p1{
	 color:#6B6C77;
	 padding: 20px;
 }
 hr{
	 color:#6B6C77;
 	
 }
 h2{
	 padding: 20px;
 }
 .div2{
 	padding-bottom: 30px;
 	padding-left: 130px;
 	padding-right:130px;
 	padding-top: 30px;
 	background: #4C5C96;
 	color:white;
 	line-height: 1.5;
 }
 .div3{
 	padding-bottom: 30px;
 	padding-left: 130px;
 	padding-right:130px;
 	padding-top: 30px;
 	background: #45558D;
 	color:white;
 	line-height: 1.5;
 }
 .div4{
 	padding-bottom: 30px;
 	padding-left: 130px;
 	padding-right:130px;
 	padding-top: 30px;
 	background: #3F4E85;
 	color:white;
 	line-height: 1.5;
 }
 .div5{
 	padding-bottom: 30px;
 	padding-left: 130px;
 	padding-right:130px;
 	padding-top: 30px;
 	background: #2E3141;
 	color:#4C4E5D;
 }
 .learn-more{
 	text-decoration: none;
 	text-transform: uppercase;
 	padding: 5px;
 	color:white;
 	font-size: 15px;
 }h2{
 	text-transform: uppercase;
 }
 
 
 